// Font settings.

// Primary font used for most text, particularly the body copy.
$font_primary : Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", serif;

// Secondary font.  This is mostly used for headings and secondary/meta text.
$font_secondary : 'Josefin Sans', sans-serif;

// Special font to use sparingly when calling attention to something.
$font_tertiary : 'Playfair Display', serif;

// Font used to output code.
$font_code : 'Source Code Pro', Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
