/**
 * Archive header section. This is shown at the top of the archive and
 * potentially other multi-post pages.
 *
 * @todo - Come up with a better name b/c this component can be reused.
 */
.archive-header {
	text-align: center;

	&__title { @extend %page_header; }

	&__description { @extend %p_one; }

	&__meta {
		@extend %meta;
		margin-top    : -3.25rem;
		margin-bottom : 2.25rem;
		text-align    : center;
	}
}
