/**
 * Comments Template.
 */
.comments-template { margin-top : 1.5rem; }

	.singular-post .comments-template {
		max-width    : calc( 700px + 3rem );
		margin-left  : auto;
		margin-right : auto;
	}

	// Comment parent link.
	.comment-parent-link {
		vertical-align : middle;
		margin-left    : 0.5rem;
		font-family    : $font_secondary;
		border-bottom  : 1px solid transparent;

		&::before {
			@extend %icon;
			content : '\f0d9';
			padding : 0 5px 4px 0;
		}
	}

	.comment-reply-login {
		position : absolute;
		top      : -9999em;
		left     : -9999em;
	}
