// Used for secondary introductory text just below h2 (usually) headers.
// This is primarily for sub-sections on a page.
%p_one {
	margin-top    : -1.5rem;
	margin-bottom : 3rem;
	line-height   : 1.45;
	color         : $color_content_light;
	font-family   : $font_tertiary;
	font-size     : 1.75rem;
	font-weight   : 400;
	text-align    : center;
	font-style    : italic;

	p {
		margin-bottom : 1.5rem;
		font-size     : 1em;
	}
}

.p-one { @extend %p_one; }
