// Used for big introductory text just below h1 (usually) headers.
%p_two {
	margin-bottom : 3rem;
	font-family   : $font_tertiary;
	font-style    : normal;
	text-align    : center;
	color         : $color_content_light;
}
